@import "../../scss/colors.scss";

.footer {
  height: 652px;
  background-color: map-get($mainColors, "mainBlack");
  &__top {
    display: flex;
  }
  &__link {
    display: flex;
    flex-direction: column;
  }
  &__subscribe {
    display: flex;
    justify-content: space-between;
  }
}
