@import "./container.scss";
@import "./scss/fonts.scss";
@import "./scss/colors.scss";
@import "./scss/typography.scss";
@import "./scss/breakpoints.scss";
@import "./scss/utils.scss";
@import "./scss/mixins.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
