$offsets: (
  30: 30px,
  32: 32px,
  35: 35px,
  40: 40px,
  55: 55px,
  60: 60px,
  70: 70px,
  74: 74px,
  90: 90px,
  100: 100px,
  140: 140px,
  233: 233px,
);

@each $key, $value in $offsets {
  .pt-#{$key} {
    padding-top: $value;
  }
}

@each $key, $value in $offsets {
  .pb-#{$key} {
    padding-bottom: $value;
  }
}

@each $key, $value in $offsets {
  .pl-#{$key} {
    padding-left: $value;
  }
}

@each $key, $value in $offsets {
  .pr-#{$key} {
    padding-right: $value;
  }
}

@each $key, $value in $offsets {
  .mt-#{$key} {
    margin-top: $value;
  }
}

@each $key, $value in $offsets {
  .mb-#{$key} {
    margin-bottom: $value;
  }
}

@each $key, $value in $offsets {
  .ml-#{$key} {
    margin-left: $value;
  }
}

@each $key, $value in $offsets {
  .mr-#{$key} {
    margin-right: $value;
  }
}

.text-center {
  text-align: center;
}
